<footer>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="first">
                        <h4>Navigate</h4>
                        <ul>
                            <li><a>INSTANT REDEEM</a></li>
                            <li><a href="/">MAIN PAGE</a></li>
                            <li><a href="/home">HOME</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="container">
                        <div class="column">
                            <div class="col-12">
                                <div class="second2">
                                    <a href=""> <i class="fab fa-twitter fa-3x margin"></i></a>
                                    <a href="https://github.com/">
                                        <i class="fab fa-github fa-3x margin"></i></a>
                                    <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/">
                                        <i class="fab fa-linkedin fa-3x margin"></i></a>
                                    <a
                                        href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber"><i
                                            class="fab fa-youtube fa-3x margin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>